// タイトルのコンテナ―
#titleContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    .titleImg{
        width: 100px;
        height: 100%;
    }
}


// 概要コンテナー
#participationContainer{
    width: 100%;
    line-height: 3em;
    text-align: center;
    margin: 0 auto;

    p{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}



// 全体のコンテナ―
.annivContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: flex-start;
    // align-items: center;

// 贈呈書コンテナ―
    .ilandImage{
        width: 60vw;
        margin: 2em auto;

        img{
            width: 100%;
            margin: 0 auto;
        }
    }

    #participationList{
        // font-family: ;
        width: 60vw;
        display: grid;
        grid-template-columns: 15vw 15vw 15vw 15vw;
        margin: 0 auto;
        line-height: 3em;
        justify-content: space-evenly;

        @media (max-width: 1200px){
            grid-template-columns: 160px 160px 160px 160px;
        }

        @media (max-width: 1000px){
            grid-template-columns: 150px 150px 150px;
        }

        @media (max-width: 600px){
            grid-template-columns: 150px 150px;
        }
    }
}