#minContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.ClipsContainer{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 310px 310px 310px;

    @media (max-width: 1000px){
        grid-template-columns: 45vw;
    }

    @media (max-width: 796px){
        display: flex;
        flex-direction: column;
    }
}

// moreボタン
#moreLink{
    width: 100%;
    text-align: center;

    button{
        border-radius: 12px;
        padding: 10px;
        color: blue;

        &:hover{
            opacity: 0.6;
        }

        &:active{
            position: relative;
            top: 2px;
            opacity: 0.6;
        }
    }
}