#minContainer{
    width: 100%;

    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
}

.ClipsContainer{
    margin-bottom: 100px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 310px 310px 310px;

    @media (max-width: 1000px){
        grid-template-columns: 45vw;
    }

    @media (max-width: 796px){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// moreボタン
#moreLink{
    width: 100%;
    text-align: center;

    button{
        border-radius: 12px;
        padding: 10px;
        color: blue;

        &:hover{
            opacity: 0.6;
        }

        &:active{
            position: relative;
            top: 2px;
            opacity: 0.6;
        }
    }
}


// clipsリンク
.ClipsLink{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 4em;

    a{
        color: #000;

        span{
            border-radius: 20px;
            background-color: #abffb1;
            padding: 5px 20px;
            box-shadow: 2px 2px 3px 0 rgba(1, 74, 3, 0.6);

            &:hover{
                opacity: 0.6;
            }

            &:active{
                position: relative;
                top: 3px;
            }
        }
    }
}