.staffs{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    line-height: 2em;
    justify-content: space-evenly;

    h1{
        background-color: #abffb1;
    }


    #planStaff{
        display: flex;
        flex-direction: column;
    }
}