.staffs{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    line-height: 2em;
    justify-content: space-evenly;

    @media (max-width: 796px){
        grid-template-columns: 300px 300px;
    }

    @media (max-width: 600px){
        grid-template-columns: 300px;
    }

    p{
        font-weight: bold;
        font-family: 'Sawarabi Gothic', sans-serif;
    }

    h1{
        background-color: #abffb1;
    }

    h2{
        font-size: 1.3em;

        span{
            background: linear-gradient(transparent 70%, #abffb1 90%);
        }
    }

    #planStaff{
        display: flex;
        flex-direction: column;

        @media (max-width: 796px){
            align-items: center;
        }
    }
}