header{
    height: 70vh;

    @media (max-width: 1200px){
        height: 60vh;
    }

    @media (max-width: 1000px){
        height: 50vh;
    }

    @media (max-width: 900px){
        height: 45vh;
    }

    @media (max-width: 796px){
        height: 40vh;
    }

    @media (max-width: 600px){
        height: 30vh;
    }

    @media (max-width: 500px){
        height: 25vh;
    }

    .slideShow{
        overflow: hidden;
        position: relative;
        width: 100vw;
        height: 70vh;

        @media (max-width: 1200px){
            height: 60vh;
        }

        @media (max-width: 1000px){
            height: 50vh;
        }

        @media (max-width: 900px){
            height: 45vh;
        }

        @media (max-width: 796px){
            height: 40vh;
        }

        @media (max-width: 600px){
            height: 30vh;
        }
    
        @media (max-width: 500px){
            height: 25vh;
        }
    
        img{
            display: none;
            position: absolute;
            top: 0;
            height: 100%;
            object-fit: cover;
        }
    }
}