.musicContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;

    @media (max-width: 796px){
        align-items: center;
        flex-direction: column;
    }

    .textContainer{
        width: 500px;

        @media (max-width: 1000px){
            width: 400px;
            margin-bottom: 20px;
        }

        h2{
            line-height: 1.6em;
            background-color: linear-gradient(transparent 60%, #000, 60%);
        }

        p{
            @extend h2;
        }
    }

    iframe{
        width: 500px;
        height: 274px;

        @media (max-width: 1000px){
            width: 400px;
            height: 225px;
        }
    }
}

#winterBerry{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 796px){
        display: grid;
        align-items: center;
        grid-template-rows: 2rem 2rem 2rem;
        text-align: center;
    }

    a{
        // カラーは変える
        &:nth-child(1){
            color: white;
            background-color: red;
        }

        &:nth-child(2){
            color: white;
            background-color: blue;
        }

        &:nth-child(3){
            color: white;
            background-color: yellow;
        }
    }
}