#illust{
    height: 700px;
    min-width: 500px;


    img{
        height: 100%;
        max-width: 100%;
    }
}


// 切り替えアイコン
#icons{
    min-width: 400px;

    img{
        max-width: 100%;
    }
}