#profileContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 900px){
        justify-content: space-between;
    }

    @media (max-width: 796px) {
        width: 100%;
        flex-direction: column;
    }
// スライド中身
#slideContainer{
    width: 400px;

    @media (max-width:900px) {
        width: 350px;
    }

    @media (max-width: 796px){
        margin: 0 auto 3em auto;
        width: 400px;
    }

    @media (max-width: 500px){
        width: 300px;
        margin-bottom: 1.5em;
    }
    
    // margin: 0 auto;

    .slide{

        div{
            width: 400px;
            margin: 0 auto;
            
            @media (max-width:900px) {
                width: 380px;
            }

            @media (max-width: 796px){
                // margin: 0 auto 3em auto;
                width: 400px;
            }

            @media (max-width: 500px){
                width: 300px;
            }

            img{
                z-index: 1;
                width: 95%;
                height: 100%;
                margin: 0 auto;

                @media (max-width: 500px){

                }
            }
        }
    }

}

// 紹介文とリンクのコンテナ―
    .profileIntContainer{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 900px){
            width: 360px;
        }

        @media (max-width: 796px){
            width: 100%;
            margin-top: 2em;
        }
        
// 公式リンクタイトル
        .officialLinkTitle{
            color: #000;
            text-align: center;
            margin: 1em;
        }

    // 公式リンク
        .officialLink{
            width: 100%;
            text-align: center;
            font-size: 1.3em;
            margin-bottom: 3em;
        }

    // プロフィール文
        .profileInt{
            width: 100%;
            // font-size: 1em;
            line-height: 1.9em;
            margin: 0 auto;

            @media (max-width: 900px){
                font-size: 1em;
                line-height: 1.5em;
                margin-bottom: 3em;
            }

            @media (max-width: 796px){
                margin-bottom: 3em;
            }
        }
    }
}
