
.largeTitle{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 500px){
        font-size: 1.1em;
    }
}

.staffs{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .planStaff{
        width: 100%;
        margin: 0 auto;

            .staffMinContainer{
                display: flex;

                .innerContainer{
                    display: flex;
                }
            }

        .columnFirst{
            padding: 0 10px;

            p{
                span{
                    font-size: 1.3em;
                }
            }
        }

        .columnSecond{
            @extend .columnFirst;
            @media(max-width: 796px){
                margin-bottom: 100px;
            }
        }
    }

    h2{
        font-size: 1.6em;

        @media(max-width: 796px){
            margin-bottom: 1.3em;
        }

        span{
            border-radius: 20px;
            padding: 5px 20px;
            background-color: #abffb1;
        }
    }
}


.staffMinContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px auto 100px auto;

    @media (max-width: 796px){
        flex-direction: column;
        margin: 0 auto;
    }
    
    .Staff{

        @media (max-width: 796px){
            margin-bottom: 100px;
        }

        h2{
            margin-bottom: 1.3em;
            font-size: 1.8em;

            span{
                background: linear-gradient(transparent 70%, #abffb1 90%);
            }
        }

        p{
            line-height: 1.8em;

            span{
                font-size: 1.3em;
            }
        }
    }
}

.innerContainer{
    flex-direction: column;

    @media(max-width: 796px){
        align-items: center;
        flex-direction: column;
    }

    h2{
        margin-bottom: 1.3em;
    }

    .staffName{
        line-height: 1.6em;
    }
}

.planFlexArea{
    width: 260px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 796px){
        flex-direction: column;
    }
}