/* 共通のスタイル */
@charset"UTF-8";

@use "media-query" as media-query;
@use "color-set";
@use "utils";

@use "header";
@use "nav";
@use "main";
@use "profile";
@use "staff";
@use "footer";

@use "anniv";
@use "music";

body{
    overflow-x: hidden;
    font-family: 'Sawarabi Gothic', sans-serif;

    h1{
        text-align: center;
        margin: 50px 0;
        
        // google fonts
        font-family: 'Knewave', cursive;
        font-family: 'Murecho', sans-serif;
    }

    header{

        @media (max-width: 796px){
            box-shadow: 2px 2px 15px 2px rgba(#000, 0.3);
        }
        
        img{
            width: 100vw;

            @media (max-width: 796px){
            }
        }
    }

    main{
        width: 100%;
        height: 100%;

        nav{
            font-family: 'Knewave', cursive;
            font-family: 'Murecho', sans-serif;
        }

        #wrap{
            width: 92%;
            max-width: 1152px;
            margin: 0 auto;

            @media (max-width: 796px){
                width: 85%;
            }

            .titleContainer{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2em 0;

                @media (max-width: 796px){
                    justify-content: center;
                }

                img{
                    width: 3em;
                    height: 100%;
                }

                .largeTitle{
                    font-size: 3em;
                    margin: 0 0.5em;

                    @media (max-width: 796px){
                        font-size: 2.3em;
                    }
                }
            }

            // .Container{
            //     display: flex;
            //     justify-content: center;
            //     margin: 50px 0;
                
            //     @media (max-width: 796px){
            //         align-items: center;
            //         flex-direction: column;
            //     }
            // }
            }
        }
    }


    footer{
        @extend #wrap;
        list-style: none;
        background-color: rgba(171, 255, 177, 0.3);
        padding: 38px 30px;

        font-family: 'Knewave', cursive;
        font-family: 'Murecho', sans-serif;


        h1{
            font-size: 1.6rem;
            text-align: left;
        }

        ul{
            list-style: none;
            line-height: 1.5em;
            
            li{
                font-size: 0.8em;

                a{
                    color: #000;
                    text-decoration: none;

                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }


#largeNavigation{
    display: block;

    @media(max-width: 796px){
        display: none;
    }
}


#hamburger{
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 99;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1.5em;

    @media (min-width: 796px){
        display: none;
    }

    span{
        background-color: #aaa;
        display: block;
        width: 30px;
        height: 3px;
        transition: all 0.5s;
        border-radius: 4px;
        margin: 0 auto;

        &:nth-child(1){
            position: relative;
            top: 10px;
        }

        &:nth-child(2){
            position: relative;
            top: 20px;
        }

        &:nth-child(3){
            position: relative;
            top: 30px;
        }
    }
}

.open{
    display: none;
}



.slick-arrow{
    width: 50px !important;
    height: 50px !important;
}

.slick-prev{
    z-index: 96;
    color: #000 !important;
    text-align: center;
    vertical-align: middle;

    &:hover{
        color: #000;

        &::before{
            transition: all 0.1s;
            font-size: 40px !important;
        }
    }

    &:active{

        &::before{
            transition: all 0.5s;
            font-size: 30px !important;
        }
    }
    

    &::before{
        font-size: 30px !important;
        color: #000 !important;

    }
}

.slick-next{
    @extend .slick-prev;
}

.slick-dots{
    z-index: 96;
}