/* 共通のスタイル */
@charset"UTF-8";

@use "media-query" as media-query;
@use "color-set";
@use "utils";

@use "header";
@use "nav";
@use "main";
@use "profile";
@use "staff";
@use "footer";

@use "anniv";
@use "music";

body{
    overflow-x: hidden;
    font-family: 'Knewave', cursive;
    font-family: 'Murecho', sans-serif;

    h1{
        margin: 50px 0;
        
        // google fonts
        font-family: 'Knewave', cursive;
        font-family: 'Murecho', sans-serif;

        @media (max-width: 1000px){
            text-align: center;
        }
    }

    header{

        @media (max-width: 796px){
            box-shadow: 2px 2px 15px 2px rgba(#000, 0.3);
        }
        
        img{
            width: 100vw;

            @media (max-width: 796px){
            }
        }
    }

    main{
        width: 100%;
        height: 100%;

        #wrap{
            width: 92%;
            max-width: 1152px;
            margin: 0 auto;

            @media (max-width: 796px){
                width: 85%;
            }

            h1{
                font-size: 2.3rem;
            }

            .Container{
                display: flex;
                justify-content: center;
                margin: 50px 0;
                
                @media (max-width: 796px){
                    align-items: center;
                    flex-direction: column;
                }
            }

            .textContainer{
                p{
                    font-family: 'Noto Serif JP', serif;
                }
            }
        }
    }


    footer{
        @extend #wrap;
        list-style: none;
        background-color: rgba(171, 255, 177, 0.3);

        @media (max-width: 1000px){
            padding: 10px 20px;
        }

        ul{
            list-style: none;
            line-height: 1.6em;
        }
    }
}


#minNavigation{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    // opacity: 0;

    nav{
        height: 100vh;

        ul{
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #fff;

            li{
                margin-left: 4em;

                a{
                    font-size: 2rem;
                    text-decoration: none;

                    &:hover{
                        opacity: 0.6;
                    }

                    &:active{
                        position: relative;
                        top: 3px;
                        color: #000;
                    }
                }

                img{
                    max-width: 60%;
                }
            }
        }
    }
}


