/* 共通のスタイル */
@charset"UTF-8";

@use "media-query" as media-query;
@use "color-set";
@use "utils";

@use "header";
@use "nav";
@use "main";
@use "profile";
@use "footer";

@use "anniv";
@use "music";

body{
    overflow-x: hidden;

    h1{
        margin: 50px 0;

        @media (max-width: 1000px){
            text-align: center;
        }
    }

    header{
        // ヘッダースライダー
        .swiper{
            width: 100vw;
            .swiper-wrapper{

                .swiper-slide{
                    width: 100vw;
                }
            }
        }

        @media (max-width: 796px){
            box-shadow: 2px 2px 15px 2px rgba(#000, 0.3);
        }
        
        img{
            width: 100vw;
            height: 100%;
            margin: 0;
            object-fit: contain;

            @media (max-width: 796px){
                position: relative;
                top: 40px;
            }
        }
    }

    main{
        width: 100%;
        height: 100%;

        #wrap{
            width: 92%;
            max-width: 1152px;
            margin: 0 auto;

            @media (max-width: 796px){
                width: 85%;
            }

            h1{
                font-size: 2.3rem;
            }

            .Container{
                display: flex;
                justify-content: center;
                margin: 50px 0;
                
                @media (max-width: 796px){
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }


    footer{
        @extend #wrap;
        list-style: none;
        background-color: #aaa;

        @media (max-width: 1000px){
            padding: 10px 20px;
        }

        ul{
            list-style: none;
            line-height: 1.6em;
        }
    }
}
